<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Shortly the URL shortener!">

    <title>State Query</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pure.min.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jquery-ui.min.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jquery-ui-timepicker-addon.min.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/mrjsontable.css') }}"/>
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:200"/>-->

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-timepicker-addon.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mrjsontable.min.js') }}"></script>

    <script type="text/javascript" language="javascript">
        function syntaxHighlight(json) {
            json = json.replace(/{/g, '').replace(/}/g, '').trim();
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
        });
    }
    </script>


    <script type="text/javascript" language="javascript">
       $(document).ready(function() {

          var getKeys = function() {
              $.ajax({
                      url: 'keys',
                      success: function(json) {
                          var $el = $(".query-container select");
                          $el.empty();
                          $.each(json['result'], function(value, key) {
                              $el.append($("<option></option>")
                                      .attr("value", key).text(key));
                          });
                      }
              });
          };

          var reportMsg = function(msg, cls) {
              $('#load-msg').empty();
              $('#load-msg').prepend('<span class="' + cls + '">' + msg + '</span>');
          }

          $("#upload-form button").click(function () {
              files = $('input[type=file]')[0].files
              if (files.length == 1 && files[0].type == "text/csv") {
                  var formData = new FormData();
                  formData.append('file', files[0]);
                  $.ajax({
                          url: '/submit',
                          data: formData,
                          type: 'POST',
                          processData: false,
                          contentType: false,
                          success: function(response) {
                              if (response['result'] == 'OK') {
                                  getKeys(); 
                                  $('#display-table').empty();
                                  $('.query-container').show();
                                  reportMsg('CSV file loaded! Ready to query.', 'ok-msg');
                              } else if (response['result'] == 'Error') {
                                  reportMsg(response['msg'], 'error-msg');
                              }
                          },
                          error: function(error) {
                              console.log(error);
                          }
                  });
              }
          });

          var makeTable = function(json) {
              $('#display-table').empty();
              $('#display-table').mrjsontable({
                columns: [{ heading: "Type", data: "type", type: "string"},
                          { heading: "ID", data: "id", type: "int"},
                          { heading: "Time", data: "time", type: "datetime"},
                          { heading: "Properties", data: "props", type: "string"}],
                data: json
              });
          }

          $("#query-form button").click(function () {
              $.ajax({
                      url: '/query',
                      data: $('#query-form').serialize(),
                      type: 'POST',
                      success: function(response) {
                          if (response['result'] != 'Error') {
                              data = []
                              if (response['result'] == null || response['result'].length == 0) {
                                  reportMsg("Query returned no results", "");
                                  makeTable([]);
                              } else {
                                  $.each(response['result'], function(value, key) {
                                      var el = {"props": JSON.stringify(key['props'], null, 2),
                                                "type": key["type"],
                                                "time": key["time"],
                                                "id": key["id"]};
                                      data.push(el);
                                  });
                                  makeTable(data);
                                  $.each($.find('tbody td[data-i=3]'), function() {
                                      var str = $(this).text();
                                      $(this).html(syntaxHighlight(str)).wrapInner('<pre>');
                                  });
                              }
                          } else if (response['result'] == 'Error') {
                              reportMsg(response['msg'], 'error-msg');
                          }
                      },
                      error: function(error) {
                          console.log(error);
                      }
              });

          });

          $('#time-picker')
             .datetimepicker({
                  timeFormat: 'HH:mm:ss TT z',
                  dateFormat: 'MM d, yy',
                  showHour: false,
                  showMinute: false,
                  showSecond: false,
                  timeInput: true
          }).change(function() {
                  var dateString = $("#time-picker").datepicker("getDate");
                  if(dateString != null) {
                      var timestamp = dateString.getTime() / 1000; 
                      $('#timestamp').val(timestamp); 
                  }
          }).datepicker("setDate", new Date());  

          $('.query-container').hide();

;
       });
    </script>
</head>

<body>
<div id="main">

    <div class="header">
        <h1><a href="/">State Query</a></h1>
        <h2>Upload a CSV file and query object state</h2>
                  
        <div class="upload-container">
            <form id="upload-form" class="pure-form" enctype="multipart/form-data">
                <div class="btn btn-primary">
                    <input name="file" type="file"/>
                    <button type="button" class="upload-button pure-button pure-button-primary">Upload</button>
                </div>
            </form>
        </div>

        <div id="load-msg"></div>

        <div class="query-container">
            <form id="query-form" class="pure-form">
                <select name="objType"></select>
                <input name="objId" type="number" step="1" id="id-picker"/>
                <input type="text" id="time-picker" />
                <input name="objTime" type="hidden" id="timestamp" />
                <button type="button" class="pure-button pure-button-primary">Query</button>
            </form>
        </div>

<div id="display-table"></div>

    </div>

</div>
</body>
</html>
